<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', ()=>{
        socket.emit('con', {data: 'I\'m connected!'});
    });
    socket.on('send_message', (data)=>{
        console.log(data.data)
    })
    // socket.on('my response', function(data){
    //     document.write(data.data)
    // });
</script>

<script>

    function send_message() {
        text = document.getElementById("box").value
        console.log(text)
        socket.emit("send_mess", {data: text})
    }

</script>
<body>

    <input type="text" name="text" id="box">
    <button onclick="send_message()">Wyślij</button>
</body>